.card {
  perspective: 1000px;
  height: 200px;
  width: 200px;
  position: relative;
  margin: 5px;
  margin-bottom: 2%;
}
.card img {
  width: 100%;
}
.card .frente {
  position: absolute;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transition: transform 0.4s linear;
}
.card .fundo {
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.4s linear;
}
.uncoverBack {
  transform: rotateY(-180deg) !important;
  cursor: pointer;
}
.uncoverFront {
  transform: rotateY(0deg) !important;
  cursor: pointer;
}
